* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #3B5971;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.hero li {
    display: inline-block;
    padding: 10px 15px;
    float: left;
}

.hero a {
    text-decoration: none;
    font-size: 20px;
}

span {
    color: white;
}

nav ul li a:hover {
    color: white;
    transition: .4s;
    transform: scale(1.1);
}

.btn {
    background-color: white;
    border: 2x solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.email form {
    width: 400px;
    max-width: 100%;
    position: relative;
}

.left-container {
    width: 50%;
    height: auto;
}

.left-container1 {
    position: absolute;
    width: 400px;
    height: 231px;
    left: 62px;
    top: 138px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
    border: solid 3px red
}

.left-container2 {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 62px;
    top: 381px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.left-container3 {
    position: absolute;
    width: 199px;
    height: 40px;
    left: 60px;
    top: 433px;
    background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.left-top {
    position: absolute;
    width: 87px;
    height: 46px;
    left: 62px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.left-bottom {
    position: absolute;
    width: 53px;
    height: 15px;
    left: 67px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.middle-top {
    position: absolute;
    width: 81px;
    height: 46px;
    left: 220px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.middle-bottom {
    position: absolute;
    width: 52px;
    height: 15px;
    left: 229px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.right-top {
    position: absolute;
    width: 86px;
    height: 46px;
    left: 363px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.right-bottom {
    position: absolute;
    width: 39px;
    height: 15px;
    left: 375px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.footer {
    background-color: #3B5971;
}

.img1 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 276px;
    top: 743px;
    background: url(/img/1.png)
}

.img2 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 457px;
    top: 743px;
    background: url(/img/2.png);
}

.img3 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 629px;
    top: 743px;
    background: url(/img/3.png);
}

.img4 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 825px;
    top: 743px;
    background: url(/img/4.png);
}

.img {
    background: url(/img/5.png);
    position: absolute;
    width: 357.28px;
    height: 370.24px;
    left: 25.72px;
    top: 29px;
}

.right-container {
    position: absolute;
    width: 404px;
    height: 494px;
    left: 551px;
    top: 125px;
    background: #30384D;
    border-radius: 10px;
}

.title {
    position: absolute;
    width: 98px;
    height: 18px;
    left: 32px;
    top: 410px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;
}

.elip1 {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 284px;
    top: 410px;
    background: url(/img/Ellipse\ 1.png);
}

.elip2 {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 299px;
    top: 410px;
    background: url(/img/Ellipse\ 2.png);
}

.elip3 {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 319px;
    top: 410px;
    background: url(/img/Ellipse\ 3.png);
}

.elip4 {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 334px;
    top: 410px;
    background: url(/img/Ellipse\ 4.png);
}

.elip5 {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 354px;
    top: 410px;
    background: url(/img/Ellipse\ 5.png);
}

.hide-left {
    position: absolute;
    width: 58px;
    height: 10px;
    left: 33px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;
}

.hide-middle {
    position: absolute;
    width: 58px;
    height: 10px;
    left: 170px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;
}

.hide-right {
    position: absolute;
    width: 44px;
    height: 10px;
    left: 353px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;
}

.number-left-img {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 33px;
    top: 466px;
    background: url(/img/Ellipse\ 6.png);
}

.number-left-character {
    position: absolute;
    width: 48px;
    height: 13px;
    left: 43px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    color: #FFFFFF;
}

.number-middle {
    position: absolute;
    width: 66px;
    height: 13px;
    left: 170px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    color: #FFFFFF;
}

.number-right-img {
    box-sizing: border-box;
    position: absolute;
    left: 79.46%;
    right: 18.84%;
    top: 94.13%;
    bottom: 4.1%;
    border: 1px solid #FFFFFF;
    background: url(/img/Vector.png);
}

.number-right-characters {
    position: absolute;
    width: 66px;
    height: 13px;
    left: 331px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    color: #FFFFFF;
}