* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #3B5971;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.hero li {
    display: inline-block;
    padding: 10px 15px;
    float: left;
}

.hero a {
    text-decoration: none;
    font-size: 20px;
}

span {
    color: white;
}

nav ul li a:hover {
    color: white;
    transition: .4s;
    transform: scale(1.1);
}

.btn {
    background-color: white;
    border: 2x solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.email form {
    width: 400px;
    max-width: 100%;
    position: relative;
}

.left-container {
    width: 50%;
    height: auto;
}

.left-container1 {
    position: absolute;
    width: 400px;
    height: 231px;
    left: 62px;
    top: 138px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
    border: solid 3px red
}

.left-container2 {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 62px;
    top: 381px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.left-container3 {
    position: absolute;
    width: 199px;
    height: 40px;
    left: 60px;
    top: 433px;
    background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.left-top {
    position: absolute;
    width: 87px;
    height: 46px;
    left: 62px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.left-bottom {
    position: absolute;
    width: 53px;
    height: 15px;
    left: 67px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.middle-top {
    position: absolute;
    width: 81px;
    height: 46px;
    left: 220px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.middle-bottom {
    position: absolute;
    width: 52px;
    height: 15px;
    left: 229px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.right-top {
    position: absolute;
    width: 86px;
    height: 46px;
    left: 363px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.right-bottom {
    position: absolute;
    width: 39px;
    height: 15px;
    left: 375px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}

.footer {
    background-color: #3B5971;
}

.img1 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 276px;
    top: 743px;
    background: url(/img/1.png)
}

.img2 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 457px;
    top: 743px;
    background: url(/img/2.png);
}

.img3 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 629px;
    top: 743px;
    background: url(/img/3.png);
}

.img4 {
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 825px;
    top: 743px;
    background: url(/img/4.png);
}